/* Player Style*/
.mini-player{
    background-color: #f8f9fa;
}
.player-controller-button{
    margin-right:2.5px;
    margin-left: 2.5px;
}
.player-controller-img{
    margin:5px;
	margin-right: 20px;
	padding: 0px!important;
	width: 50px;
	height:50px;
}

/* Playerinfo Style*/
.player-info div.player-info-right{ 
    text-align: right;
}
.player-info div.player-info-left{ 
    text-align: left;
}
.player-info .player-bar{
    width: 100%;
}

/* Playerbar Style*/
.player-bar {
	width: 388px;
	height: 5px;
	background: white;
	position: relative;
	top: 4px;
	left: 4px;	
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}


input[type="range"].player-bar {
	-webkit-appearance: none;
	height: 5px;
}

input[type="range"].player-bar::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color:red;
}


input[type="range"].player-bar:focus{
    outline:none;
}

/* Volume Bar Style */
.dropdown-toggle-none-arrow::after{
	content: none!important
}


.volume-bar {
	height: 5px;
	background: rgb(131, 114, 114);
	position: relative;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}


input[type="range"].volume-bar {
	-webkit-appearance: none;
	height: 5px;
}

input[type="range"].volume-bar::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color:red;
}


input[type="range"].volume-bar:focus{
    outline:none;
}